clientSecret =
clientId =
tenantId =
storageAccount =
sharedKeyCred =
clientSideLocalKeyFileName = byteKeyInsecure.txt
serverSideLocalKeyFileName = byteKeyInsecure.txt
containerName = clientsidelocalkeytocustomerprovidedkeycontainer
blobName = blobExample.txt
blobNameAfterMigration = blobExampleCPK.txt
keyWrapAlgorithm = A256KW

