clientSecret =
clientId =
tenantId =
keyVaultUrl =
resourceGroup =
storageAccount =
sharedKeyCred =
subscription =
clientSideLocalKeyFileName = byteKeyInsecure.txt
containerName = clientsidelocalkeytocustomermanagedkeycontainer
blobName = blobExample.txt
blobNameAfterMigration = blobExampleCMK.txt
serverSideEncryptionKeyName = keyName
encryptionScope = encryptionScope
keyWrapAlgorithm = A256KW