sourceContainerName = sourcecontainer
sourceStorageAccountName = testsourcestorageaccount
sourceStorageAccountConnectionString = XXX

destinationContainerName = destcontainer
destinationStorageAccountName = testdeststorageaccount
destinationStorageAccountConnectionString = XXX

resourceGroup = XXX
replicationBlobName = blobExample.txt

blobsToReplicatePrefix = blobExample

archiveMethod = individual

deleteBlobs = false