clientSecret =
clientId =
tenantId =
storageAccount =
sharedKeyCred =
resourceGroup =
subscription =
clientSideLocalKeyFileName = byteKeyInsecure.txt
containerName = clientsidelocalkeytomicrosoftmanagedkeycontainer
blobName = blobExample.txt
blobNameAfterMigration = blobExampleMMK.txt
encryptionScope = microsoftencryptionscope
keyWrapAlgorithm = A256KW