clientSecret =
clientId =
tenantId =
keyVaultUrl =
resourceGroup =
storageAccount =
sharedKeyCred =
subscription =
containerName = clientsidekeyvaultkeytocustomermanagedkeycontainer
blobName = blobExample.txt
blobNameAfterMigration = blobExampleCMK.txt
clientSideEncryptionKeyName = keyName
serverSideEncryptionKeyName = keyName
encryptionScope = encryptionScope
keyWrapAlgorithm = RSA-OAEP
