clientSecret =
clientId =
tenantId =
keyVaultUrl =
storageAccount =
sharedKeyCred =
resourceGroup =
subscription =
containerName = clientsidekeyvaultkeytomicrosoftmanagedkeycontainer
blobName = blobExample.txt
blobNameAfterMigration = blobExampleMMK.txt
clientSideEncryptionKeyName = keyName
encryptionScope = microsoftencryptionscope
keyWrapAlgorithm = RSA-OAEP

