sourceContainerName = sourcecontainer
sourceStorageAccountName = testsourcestorageaccount
sourceStorageAccountConnectionString = XXX

destinationContainerName = destcontainer
destinationStorageAccountName = testdeststorageaccount
destinationStorageAccountConnectionString = XXX

resourceGroup = carmen_romero
replicationBlobName = blobExample.txt

blobsToReplicate = blob1.txt, blob2.txt, blob3.txt, blob4.txt, blob5.txt, blob6.txt, blob7.txt, blob8.txt, blob9.txt, blob10.txt, blob11.txt, blob12.txt, blob13.txt, blob14.txt, blob15.txt, blob16.txt, blob17.txt, blob18.txt, blob19.txt, blob20.txt