sourceContainerName = sourcecontainer
sourceStorageAccountName = testsourcestorageaccount
sourceStorageAccountConnectionString = XXX

destinationContainerName = destcontainer
destinationStorageAccountName = testdeststorageaccount
destinationStorageAccountConnectionString = XXX

resourceGroup = carmen_romero
replicationBlobName = blobExample.txt

blobsToReplicate = blobExample

archiveMethod = batch