clientSecret =
clientId =
tenantId =
keyVaultUrl =
storageAccount =
sharedKeyCred =
containerName = clientsidekeyvaultkeytocustomerprovidedkeycontainer
blobName = blobExample.txt
blobNameAfterMigration = blobExampleCPK.txt
clientSideEncryptionKeyName = keyName
localKeyFileName = byteKeyInsecure.txt
keyWrapAlgorithm = RSA-OAEP
